/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', cursive !important;
}

.navbar {
    background-color: lightskyblue !important;
}

.navbar-brand {
    font-family: 'Bungee', cursive;
    font-size: large;
}
