/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bungee&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Roboto', sans-serif;
}

/* my background color*/
.bg-mycolor {
    background-color: #00aac7 !important;
}
/* navbar */
.navbar {
    margin-bottom: 2rem;
}

.navbar-brand {
    font-size: large;
}

/* navbar and header font */
.font-bungee {
    font-family: 'Bungee', cursive;
}

/* hero image */
.img-thumbnail {
    max-width: 18rem;
}

/* form card overlay to image with min width of the screen 576px */
.card {
    position: absolute;
    background-color: rgba(255, 255, 255, .1);
}

@media all and (min-width: 36em) {
    .card {
        position: relative;
        max-width: 30rem;
    }
}

.input-container {
    display: flex;
    width: 100%;
    margin-top: .9rem 0;
  }

.icon {
    color: #00aac7;
    margin-top: .2rem;
    min-width: 3.5rem;
    text-align: center;
}

.btn {
    border: solid .1rem black;
    background-color: #f46f9b;
}

.card-body div p {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
}

.register-panel {
    margin-top: 1rem;
}

/* checkbox style */
.form-switch {
    background-color: rgba(255, 255, 255, .6);
}

.form-check-input:checked {
    background-color: #00aac7;
    border-color: #00aac7;
}

/* error messageg style */
.msg-error {
    background-color: #00aac7;
    color: black;
    font-family: 'Balsamiq Sans', cursive;
}

/* about paragraph */
.description {
    font-family: 'Balsamiq Sans', cursive;
    text-transform: uppercase;
    padding: 1rem;
}

