{% extends "base.html" %}
{% block nav_about %}active{% endblock %}
{% block content %}
    <!-- about container -->
    <section class="row justify-content-md-center mt-1rem">
        <div class="col-sm-6 d-flex align-items-center justify-content-center">
          <h1 class="font-bungee">ABOUT US</h1>
        </div>
        <div class="col-sm-6 border-0">
          <p class="description text-center"><strong class="font-bungee">Back On Track</strong> is a place for those who need help improving their resume.<br>
            Share your skills with others so that everyone can advise you on how to build your resume.<br>
            If you've gotten lost looking for a job, starting to think you're no longer worth anything, 
            getting back on track can help you regain your skills.
          </p>
        </div>
    </section>
{% endblock %}