{% extends "base.html" %}
{% block nav_addpost %}active{% endblock %}
{% block content %}
    <section class="row justify-content-md-center mt-1rem">
        <div class="card">
            <h5 class="font-bungee text-center mt-1rem">Edit Post</h5>
            <!-- edit post form -->
            <form class="card-body" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
                {{ form.csrf_token }}
                <!-- select a category -->
                <div class="mb-3">
                    {{ form.category_name.label(class="form-label") }}
                    <select class="form-control" id="category_name" name="category_name">
                        <option value="{{ post.category_name }}" selected>{{ post.category_name }}</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- title's post -->
                <div class="mb-3">
                    {{ form.post_title.label(class="form-label") }}
                    {{ form.post_title(size=80, class="form-control") }}
                </div>
                <!-- description's post-->
                <div class="mb-3">
                    {{ form.post_description.label(class="form-label") }}
                    {{ form.post_description(cols="120", rows="3", class="form-control") }}
                </div>
                <!-- share boolean input -->
                <div class="mb-3 form-switch">
                    {% if post.share_post %}
                        <input class="form-check-input" id="share_post" name="share_post" type="checkbox" value="y" checked>
                    {% else %}
                        {{ form.share_post(class="form-check-input") }}
                    {% endif %}
                    <label for="share_post" class="form-check-label">Share</label>
                </div>
                <!-- submit form -->
                <div class="text-center mb-3">
                    {{ form.submit(class="btn target font-bungee", value="Update Post") }}
                </div>
            </form>
        </div>
    </section>

{% endblock %}