{% extends "base.html" %}
{% block nav_index %}active{% endblock %}
{% block content %}
    {% if session['username'] %}
            <!-- card share post  from Bootstrap -->
            <section class="row justify-content-md-center">
                <h5 class="text-center font-bungee">Welcome {{ session['username'] }}</h5>
                <div class="card">
                    <div class="mb-2">
                        <!-- card title -->
                        <p class="m-1 text-center">Share your resume</p>
                        <!-- card content -->
                        <div class="d-flex justify-content-end">
                            <!-- profile's image -->
                            <img src="{{ image }}" class="profile-image" />
                            <!-- empty card body to space image and button -->
                            <div class="card-body"></div>
                            <!-- button link to create_posts.html -->
                            <a href="{{ url_for('add_posts') }}" class="btn target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Share Post &nbsp; <i class="fas fa-share-square"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <h5 class="text-center font-bungee mt-1rem">From the Community</h5>
            <!-- get posts -->
            {% for post in posts %}
                {% if post.share_post == "on" %}
                <section class="row justify-content-md-center mt-1rem">
                    <div class="card">
                        <!-- card title -->
                        <p class="m-1 text-center">{{ username }}</p>
                        <!-- card content -->
                        <div class="d-flex">
                            <!-- profile's image -->
                            <img src="{{ image }}" class="profile-image mr-1" />
                            <!-- card body with post's info -->
                            <div class="card-body p-0">
                                <h6 class="card-subtitle text-muted">{{ post.category_name }}</h6>
                                <span class="card-text">{{ post.post_description }}</span> <br/>
                                <span class="card-subtitle text-muted">{{ post.created_by.capitalize() }} - {{ post.post_date }}</span>
                            </div>
                        </div>
                        {% if session['username'] == post.created_by %}
                            <div class="mb-1 d-flex justify-content-between">
                                    <!-- button link to edit post-->
                                    <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn-post target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Edit &nbsp; <i class="fas fa-edit"></i></a>
                                    <!-- button link to comment post-->
                                    <a href="{{ url_for('add_posts') }}" class="btn-post target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Comment &nbsp; <i class="far fa-comment"></i></a>
                        {% else %}
                            <div class="mb-1 d-flex justify-content-end">
                                <!-- button link to comments -->
                                <a href="{{ url_for('add_posts') }}" class="btn-post target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Comment &nbsp; <i class="far fa-comment"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </section>
                {% endif %}
            {% endfor %}
    {% else %}
            <!-- card container from Bootstrap -->
            <section class="row justify-content-md-center mt-1rem">
                <figure class="col-sm-6 text-center">
                    <img src="{{ url_for('static', filename='images/BackOnTrackHero.svg') }}" class="img-thumbnail border-0" alt="Connect the World">
                </figure>
                <div class="card col-sm-6 border-0 justify-content-md-center mt-5 absolute">
                    <!-- login button -->
                    <div class="text-center">
                        <a href="{{ url_for('login') }}" class="btn target font-bungee btn2">Login &nbsp; <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                    <!-- register button -->
                    <div class="text-center">
                        <a href="{{ url_for('register') }}" class="btn target font-bungee mt-5">Register &nbsp; <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </div>
            </section>
            <!-- about container -->
            <section class="row justify-content-md-center mt-1rem">
                <div class="col-sm-6 d-flex align-items-center justify-content-center">
                    <h1 class="font-bungee">ABOUT US</h1>
                </div>
                <div class="col-sm-6 border-0">
                    <p class="description text-center"><strong class="font-bungee">Back On Track</strong> is a place for those who need help improving their resume.<br>
                        Share your skills with others so that everyone can advise you on how to build your resume.<br>
                        If you've gotten lost looking for a job, starting to think you're no longer worth anything, 
                        getting back on track can help you regain your skills.
                    </p>
                </div>
            </section>
    {% endif %}
{% endblock %}