{% extends "base.html" %}
{% block nav_login %}active{% endblock %}
{% block content %}
        <!-- error message section (username incorrect and password not match)-->
        <section class="row text-center">
                  {% for error in form.username.errors %}
                      <span class="msg-error">{{ error }}</span><br>
                  {% endfor %}
                  {% for error in form.password.errors %}
                      <span class="msg-error">{{ error }}</span><br>
                  {% endfor %}
        </section>
        <!-- card container from Bootstrap -->
        <section class="row justify-content-md-center mt-1rem">
          <figure class="col-sm-6 text-center">
            <img src="{{ url_for('static', filename='images/BackOnTrackHero.svg') }}" class="img-thumbnail border-0" alt="Connect the World">
          </figure>
          <div class="card col-sm-6 border-0">
            <h5 class="font-bungee text-center">Login</h5>
            <!-- Login form -->
            <form class="card-body" method="POST" action="{{ url_for('login') }}">
                {{ form.csrf_token }}
                <!-- username -->
                <div class="input-container mb-3">
                    <label for="username" class="form-label"><i class="fas fa-user-plus icon"></i></label>
                    <input type="username" class="form-control" id="username" name="username" size="20" placeholder="Username" required>
                </div>
                <!-- password -->
                <div class="input-container mb-3">
                    <label for="password" class="form-label"><i class="fas fa-user-lock icon"></i></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" size="32" required>
                </div>
                <!-- remember me checkbox -->
                <div class="text-center mb-3 form-switch">
                  <input id="remember_me" name="remember_me" type="checkbox" class="form-check-input" value="y">
                  <label for="remember_me" class="form-check-label">Remember Me</label>
                </div>
                <!-- login button -->
                <div class="text-center mb-3">
                  <button type="submit" name="submit" class="btn target font-bungee">Login &nbsp; <i class="fas fa-sign-in-alt"></i></button>
                </div>
                <!-- redirect to register -->
                <div class="col-sm">
                  <p class="text-center">
                      Not registered? Then please
                      <a href="{{ url_for('register') }}">Register here <i class="fas fa-arrow-alt-circle-right"></i></a>
                  </p>
              </div>
            </form>
          </div>
        </section>
{% endblock %}