{% extends "base.html" %}
{% block nav_profile %}active{% endblock %}
{% block content %}
    <section class="row justify-content-md-center mt-1rem">
        <h4 class="font-bungee text-center">{{ username }}'s profile</h4>
    </section>
    <section class="row justify-content-md-center mt-1rem">
        <div class="card">
            <div class="mb-2">
                <!-- card title -->
                <h6 class="card-subtitle font-bungee text-center mt-1">profile</h6>
                <!-- card content -->
                <div class="d-flex">
                    <figure class="mt-1rem">
                        <!-- image (in future need to be changed with profile's image) -->
                        <img src="{{ url_for('static', filename="images/anonymity.png") }}" alt="profile image" class="profile-image"/>
                    </figure>
                    <!-- get data to user collection -->
                    <div class="card-body p-1 ml-1rem">
                        <span>Email <i class="fas fa-envelope text-color"></i>: {{ user.email }}</span><br/>
                        <span>Linked<i class="fab fa-linkedin text-color"></i>: {{ user.linkedin_url }}</span><br/> 
                        <span>site<i class="fas fa-globe-europe text-color"></i>: {{ user.website_url }}</span> 
                    </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                    <!-- button link to update_profile.html -->
                    <a href="{{ url_for('delete_account', username=session['username']) }}" class="btn target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Delete Account &nbsp; <i class="fas fa-trash-alt"></i></a>
                    <!-- button link to update_profile.html -->
                    <a href="{{ url_for('update_profile', username=session['username']) }}" class="btn target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Update Profile &nbsp; <i class="fas fa-user-edit"></i></a>
                </div>
            </div>         
        </div>
    </section>
    <h5 class="text-center font-bungee mt-1rem">Your Posts</h5>
    {% for post in posts %}
        {% if session['username'] == post.created_by %}
            <section class="row justify-content-md-center mt-1rem">
                <div class="card">
                    <!-- card content -->
                    <div class="d-flex">
                        <!-- card body with post's info -->
                        <div class="card-body p-0 mt-1rem">
                            <h6 class="card-subtitle text-muted">{{ post.category_name }}</h6>
                            <span class="card-text">{{ post.post_description }}</span> <br/>
                            <span class="card-subtitle text-muted">{{ post.created_by.capitalize() }} - {{ post.post_date }}</span>
                        </div>
                    </div>
                    <div class="mb-1 d-flex justify-content-between">
                            <!-- button link to delete post-->
                            <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn-post target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Delete &nbsp; <i class="fas fa-trash-alt"></i></a>
                            <!-- button link to edit post-->
                            <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn-post target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Edit &nbsp; <i class="fas fa-edit"></i></a>
                            <!-- button link to comment post-->
                            <a href="{{ url_for('add_comment', post_id=post._id) }}" class="btn-post target font-bungee btn-sm" data-toggle="button" aria-pressed="false">Comment &nbsp; <i class="far fa-comment"></i></a>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
