{% extends "base.html" %}
{% block content %}
    <section class="row justify-content-md-center mt-1rem">
        <div class="card">
            <h5 class="font-bungee text-center mt-1rem">Update Profile</h5>
            <!-- create post form -->
            <form class="card-body" method="POST" action="{{ url_for('update_profile', username=session['username']) }}">
                {{ form.csrf_token }}
                <!-- email -->
                <div class="mb-3">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <!-- linkedin url -->
                <div class="mb-3">
                    {{ form.linkedin_url.label }}
                    {{ form.linkedin_url }}
                </div>
                <!-- website url -->
                <div class="mb-3">
                    {{ form.website_url.label }}
                    {{ form.website_url }}
                </div>
                <!-- submit form -->
                <div class="text-center mb-3">
                    {{ form.submit(class="btn target font-bungee") }}
                </div>
            </form>
        </div>
    </section>
{% endblock %}